<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8">
    <head>
    <script type="text/java" src="js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="js/angular1.2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="js/underscore.js" type="text/javascript"></script>
    <script src="angular.js" type="text/javascript"></script>

    <title>Desafio</title>
</head>
<body ng-controller="Ctrl1">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
	  				<h2>Favoritos ({{favorites.length}})</h2>
				</div>
			</div>
		</div>
		<div class="row">
		  <view post="post" favorite="true" ng-repeat="post in favorites"></view>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
	  				<h2>Posts ({{posts.length}})</h2>
	  				<input type="text" class="form-control" placeholder="Buscar" ng-model="query.data.title">
	  				<br/>
	  				<div class="input-group">
	  					Exibir
	  					<div class="btn-group">
  							<button type="button" class="btn btn-default" ng-click="change_limit(10)">10</button>
  							<button type="button" class="btn btn-default" ng-click="change_limit(20)">20</button>
  							<button type="button" class="btn btn-default" ng-click="change_limit(30)">30</button>
						</div>&nbsp;&nbsp;&nbsp;&nbsp;
						Exibindo {{limit}} Posts, Ordernado por
						<select ng-model="ordem" ng-change="change_reverse()">
							<option value="data.title">Nome</option>
							<option value="data.ups">Ups</option>
							<option value="data.downs">Downs</option>
						</select>.
						Atualização automática
						<select ng-model="update" ng-change="change_interval()">
							<option value="0">Desativada</option>
							<option value="5">5 segundos</option>
							<option value="10">10 segundos</option>
						</select>.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<view post="post" favorite="false" ng-repeat="post in posts|filter:query|orderBy:ordem:reverse|limitTo:limit"></view>
		</div>
	</div>
</body>
</html>